# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database backup files
*.sql
*_rows.sql
backup.sql
backup_completo.sql
schema.sql
setup_novo_projeto.sql

mudarsenha.js
debug_connection.js

*.sh